
:root {
  --green-leaf: #4d8210;
  --green-leaf-wash: #edf4e9;
  --red: #d81118;
  --red-wash: #fdf3f2;
  --amber: #e5c129;
  --active-green: #3e690d;
  --success-green: #69bb0b;
  --silver: #cccccc;
  --concrete: #f2f2f2;
  --black: #000000;
  --white: #ffffff;
}

@font-face {
  font-family: 'M&SLondon';
  src: url('./fonts/M&SLondon-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'M&SLondon';
  src: url('./fonts/M&SLondon-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'M&SLondon';
  font-weight: 400;
}

h1 {
  font-weight: 400;
}

p {
  margin: 6px;
}

a {
  display:block;
  color: var(--silver);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: var(--white);
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: var(--black);
  border-bottom: 1px solid var(--green-leaf);
}

.App-link {
  color: #09d3ac;
}

.subBtn {
  width: 66px;
  float: right;
}

.msgInput {
  float: left;
  width: 66%;
  width: calc(100% - 80px);
  height: 30px;
  padding: 4px;
  display: block;
  font-size: 16px;
  background: var(--white);
  color: var(--black);
}

.chat-area {
  bottom: 100px;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 80px;
}

.chatbox {
  border: none;
  clear: both;
  display: block;
  min-height: 34px;
  padding: 8px;
  margin: 8px 8px 20px;
  width: 66%;
  -webkit-box-shadow: 4px 4px 17px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 17px -6px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 17px -6px rgba(0,0,0,0.75);
}

.chatbox-system {
  background: var(--green-leaf);
  color: var(--white);
  text-align: left;
  border-radius: 16px 16px 16px 0px;
  text-align: left;
  font-weight: 600;
}

.chatbox-user {
  background: var(--concrete);
  color: var(--black);
  float: right;
  text-align: right;
  border-radius: 16px 16px 0px 16px;
}

.message-author {
  background: var(--white);
  color: var(--black);
  position: absolute;
  bottom:0;
  height: 100px;
  left: 0;
  right: 0;
  text-align: left;
}

.message-author form {
  display: block;
  padding: 16px;
}

.message-author label {
  padding: 4px 0;
  display: block;
}
